.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 150;
}
.header a:hover {
  color: white;
  text-decoration: none;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
}

.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 30px !important;
  border-radius: 0px 2px 2px 0px;
}

.header__searchInput {
  height: 30px;
  padding: 10px;
  border: none;
  flex: 1;
  border-radius: 2px 0px 0px 2px;
}

input:focus {
  outline-color: #cd9042;
  outline-style: solid;
  outline-width: 3px;
  box-shadow: 0 0 2pt 2pt #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineOneBasket {
  font-size: 19px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
}
.header__optionBasketItemAdded {
  display: flex;
  align-items: center;
  color: #cd9042;
  padding-left: 16px;
  padding-right: 12px;
  font-weight: 800;
  font-size: 23px;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 20px;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
