.productInfo {
  display: flex;
  background-color: white;
  padding-bottom: 20px;
}
.productInfo__ad {
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
  justify-content: center;
  width: 100%;
  background-color: white;
}
.productInfo__image {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 400px;
}
.productInfo__image > img {
  width: 350px;
  object-fit: contain;
}
.productInfo__info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  padding-top: 20px;
}

.productInfo__addtocart {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 300px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid lightgray;
  margin-right: 30px;
  border-radius: 3px;
  line-height: 1.5;
}
.productInfo__addtocart > button {
  background-color: #f0c14b;
  border: 1px solid;
  width: 100%;
  border-color: #a88734 #9c7e31 #846a29;
  height: 25px;
}

.productInfo__price {
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
}
.productInfo__checkoutPrice {
  color: rgb(178, 58, 56);
  font-weight: 200;
  font-size: large;
}
.productInfo__price > p {
  color: rgb(178, 58, 56);
  font-weight: 600;
  font-size: 25;
  padding-left: 2px;
}

.productInfo__stock {
  color: rgb(86, 127, 16);
  font-weight: 800;
  font-size: large;
}
